<a href="https://colab.research.google.com/github/JS-DS-coder/CienciaDeDatos2021/blob/master/sobreviviendoaltitanicyaSL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examen Final  - Sobreviviendo al Titanic
Jairo Salazar
Carnet:

# Sección 1

Carga y analisis de datos

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import tensorflow as tf
import matplotlib.pyplot as plt

import datetime, os
from datetime import datetime
from datetime import date

print(tf.__version__)

if tf.__version__.startswith("2."):
  import tensorflow.compat.v1 as tf
  tf.compat.v1.disable_v2_behavior()
  tf.compat.v1.disable_eager_execution()
  print("Enabled compatitility to tf1.x")

%load_ext tensorboard
!rm -rf ./logs/

2.5.0
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term
Enabled compatitility to tf1.x

In [4]:
dataset = pd.read_csv('data_titanic_proyecto.csv')
dataset

     PassengerId  ... passenger_survived
0              1  ...                  N
1              2  ...                  Y
2              3  ...                  Y
3              4  ...                  Y
4              5  ...                  N
..           ...  ...                ...
886          887  ...                  N
887          888  ...                  Y
888          889  ...                  N
889          890  ...                  Y
890          891  ...                  N

[891 rows x 12 columns]